{{!
{
  "name" : "fertile days box",
  "decription" : "Main menu position template",
	"helpers": ["../helpers/translate"]
}
}}
<p>{{translate 'estimation_box_algorythm_desc'}}</p>
<figure>
<div>
</div>
<figcaption>
	<table>
		<tbody>
			<tr>
				<td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled ui-state-highlight">
					<span class='calendar_cell_legend ui-state-default'></span>
				</td>
				<td>
					{{translate 'estimation_box_legend_bleeding_explanation'}}
				</td>
			</tr>
    </tbody>
	</table>
</figcaption>
</figure>