{{!
{
  "name" : "fertile days box",
  "decription" : "Main menu position template",
	"helpers": ["../helpers/translate"]
}
}}
<p>{{translate 'fertile_box_fertile_days_desc'}}</p>
<figure>
<div>
</div>
<figcaption>
	<table>
		<tbody>
			<tr>
				<td class="fertile_day">
					<span class='calendar_cell_legend'></span>
				</td>
				<td>
					{{translate 'fertile_day_box_legend_fertile_explanation'}}
				</td>
			</tr>
			<tr>
				<td class="ovulation_day">
					<span class='calendar_cell_legend'></span>
				</td>
				<td>
					{{translate 'fertile_day_box_legend_ovulation_explanation'}}
				</td>
			</tr>
    </tbody>
	</table>
</figcaption>
</figure>

