{{!
{
  "name" : "chart_tab",
  "decription" : "A Demo Template",
  "helpers": ["../helpers/translate"]
}
}}
<p>
<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
{{translate "chart_box_dialog_remove_confirmation"}}
</p>