{{!
{
  "name" : "chart_tab",
  "decription" : "A Demo Template",
  "styles" : ["../template/styles/period_frequency_box"],
  "helpers": ["../helpers/translate"]
}
}}
<h2>{{translate "chart_box_chart_title"}}</h2>
<figure>
  <figcaption>{{translate "chart_box_chart_description"}}</figcaption>
  <div id="period_frequency_chart"></div>
</figure>
