{{!
{
  "name" : "pregnency_tab",
  "decription" : "A Demo Template",
  "helpers": ["../helpers/translate"]
}
}}
<h1>{{translate "statistic_tab"}}</h1>
<section id="period_statistics_box"></section>
